<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-center">
      &copy; 2017 - <%= date(new Date(), 'YYYY') %> <a href="<%= config.url%>"><%= config.author %></a>&nbsp;|&nbsp;
      Theme by <a href="https://github.com/giscafer/hexo-theme-cafe/" target="_blank">Cafe</a>
      <% if (config.hosted_by_coding_pages){ %>
        <p>Hosted by <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a></p>
      <% } %>
    </div>
  </div>
</footer>
 <%- js('jquery/jquery.min.js') %>